.guide {
    width: 70%;
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        width: 100%;
        .top {
            width: 100%; 
            .titleTop {
                display: flex;
                flex-direction: row;
                align-items: center;
                .circle {
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    background: linear-gradient(90.92deg, #FF8A64 -7.11%, #FFC39B 99.65%);
                }
                .text {
                    margin: 0 17px 0 17px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: #130C61;
                }
                .btnShow {
                    width: 86px;
                    height: 32px;
                    background-color: #ffffff;
                    border: 1px solid #FF8A64;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 700;
                    list-style: 18px;
                    color: #FF8A64; 
                }
            }
            .desc {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #2F2F2F;
                margin-left: 32px;
            }
        }
        .bottom {
            margin-top: 42px;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            .container {
                display: flex;
             
                width: 492px;
                height: 100px;
                margin: 0 20px 40px 0;
                .imgGuide {
                    width: 170px;
                    height:98px;
                    img {
                        object-fit: cover;
                        border-radius: 5px;
                        width: 170px;
                        height: 100%;
                    }
                }
                .content {
                    margin-left:20px;
                    display: flex;
                    justify-content:space-around;
                    flex-direction: column;
                    .title {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        color:#2F2F2F;
                    }
                    .date {
                        display: flex;
                        align-items:center;
                        span {
                            margin-left: 20px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #6f6f6f;
                        }
                    }
                }
            }
        }
    }
}